on:
  push:
    # branches:
    #   - master
    #   - develop # This will eventually require a different container
    branches-ignore:
      - 'notest-**'
    paths:
      - 'R/**'
      - 'DESCRIPTION'
      - 'NAMESPACE'
      - 'src/**'
      - 'tests/**'
  pull_request:
  schedule:
    # Rerun checks daily, after facilebio/facilebio_base_extra is rebuilt.
    # This will catch failures due to changes in functionality of packages
    # we depend on.
    # facilebio_base_extra builds every day 4AM pacific time (11 AM UTC), so
    # we will build this an hour after that (the same time facilebio/facilebio)
    - cron: '0 12 * * *'

name: R-CMD-check

jobs:
  R-CMD-check:
    if: "!contains(github.event.head_commit.message, 'ci-skip')"
    runs-on: ubuntu-latest
    container: facilebio/facilebio_base_extra
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      NOT_CRAN: true
      CI: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup R
        uses: r-lib/actions/setup-r@2fac31217e602dd30286b4c984a0ccf1afb18cbd
        with:
          install-r: false

      - name: Install dependencies
        run: remotes::install_deps(dependencies = TRUE, upgrade = FALSE)
        shell: Rscript {0}

      - name: Check
        run: rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error")
        shell: Rscript {0}
